.@{prefix}row {
    position: relative;

    .clearfix();

    // flex styles
    &-flex {
        display: flex;

        &::before,
        &::after {
            display: none;
        }

        // justify
        &-justify-center {
            justify-content: center;
        }

        &-justify-end {
            justify-content: flex-end;
        }

        &-justify-between {
            justify-content: space-between;
        }

        &-justify-around {
            justify-content: space-around;
        }

        // align
        &-align-middle {
            align-items: center;
        }

        &__align-bottom {
            align-items: flex-end;
        }
    }
}

[class*="@{prefix}col-"] {
    float: left;
}

.@{prefix}col-0 {
    display: none;
}

.col-loop(0);

.col-media-display();

.media(@grid-break-xs; {
    .@{prefix}col-xs-0 {
        display: none;
    }
    .col-loop(0,xs-);
});

.media(@grid-break-sm; {
    .@{prefix}col-sm-0 {
        display: none;
    }
    .col-loop(0,sm-);
});

.media(@grid-break-md; {
    .@{prefix}col-md-0 {
        display: none;
    }
    .col-loop(0,md-);
});

.media(@grid-break-lg; {
    .@{prefix}col-lg-0 {
        display: none;
    }
    .col-loop(0,lg-);
});

.media(@grid-break-xl; {
    .@{prefix}col-xl-0 {
        display: none;
    }
    .col-loop(0,~'xl-');
});
