.@{prefix}layout {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    box-sizing: border-box;
    min-width: 0;

    &-vertical {
        flex-direction: column;
    }
}

.@{prefix}main {
    display: block;
    flex: 1;
    flex-basis: auto;
    overflow: auto;
    box-sizing: border-box;
    padding: @main-padding;
}

.@{prefix}header {
    padding: @header-padding;
    flex-shrink: 0;
}

.@{prefix}footer {
    padding: @footer-padding;
    flex-shrink: 0;
}

.@{prefix}aside {
    overflow: auto;
    box-sizing: border-box;
    flex-shrink: 0;
}
