.@{prefix}tooltip-trigger {
    display: inline-block;

    + .@{prefix}tooltip-trigger {
        margin-left: @same-component-gutter;
    }
}

.@{prefix}tooltip {
    > .@{prefix}tooltip-inner {
        font-size: @font-size-default;
        border-radius: @border-radius;
        background-color: @tooltip-bg-color;
        color: @light-color;
        padding: @tooltip-padding;
        white-space: nowrap;
        line-height: 1.5;
    }

    &::before {
        content: '';
        border: 4px solid transparent;
        display: inline-block;
        position: absolute;
    }

    &-placement-top,
    &-placement-top-left,
    &-placement-top-right {
        padding-bottom: 4px;
        transform-origin: bottom;

        &::before {
            border-top-color: @tooltip-bg-color;
            bottom: -4px;
            left: 50%;
            margin-left: -4px;
        }
    }

    &-placement-bottom,
    &-placement-bottom-left,
    &-placement-bottom-right {
        padding-top: 4px;
        transform-origin: top;

        &::before {
            border-bottom-color: @tooltip-bg-color;
            top: -4px;
            left: 50%;
            margin-left: -4px;
        }
    }

    &-placement-bottom-left,
    &-placement-top-left {
        &::before {
            left: 20%;
        }
    }

    &-placement-bottom-right,
    &-placement-top-right {
        &::before {
            left: 80%;
        }
    }

    &-placement-left,
    &-placement-left-bottom,
    &-placement-left-top {
        padding-right: 4px;
        transform-origin: right;

        &::before {
            border-left-color: @tooltip-bg-color;
            right: -4px;
            top: 50%;
            margin-top: -4px;
        }
    }

    &-placement-right,
    &-placement-right-bottom,
    &-placement-right-top {
        padding-left: 4px;
        transform-origin: left;

        &::before {
            border-right-color: @tooltip-bg-color;
            left: -4px;
            top: 50%;
            margin-top: -4px;
        }
    }

    &-placement-left-top,
    &-placement-right-top {
        &::before {
            top: 20%;
        }
    }

    &-placement-left-bottom,
    &-placement-right-bottom {
        &::before {
            top: 80%;
        }
    }
}
