.fade-enter-active,
.fade-leave-active {
    transition: all 0.2s ease-in;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.from-top-enter-active,
.from-top-leave-active {
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.from-top-enter,
.from-top-leave-to {
    transform: scale(0);
    opacity: 0;
    transform-origin: bottom center;
}
