{
    "presets": [
        ["@babel/env", {
            "modules": false
        }]
    ],
    "plugins": [
        "@babel/syntax-jsx",
        "transform-class-properties",
        "transform-vue-jsx",
        "@babel/plugin-transform-runtime"
    ]
}
