{
    "parser":"babel-eslint",
    "parserOptions":{
        "ecmaVersion":6,
        "sourceType":"module",
        "ecmaFeatures":{
             "experimentalObjectRestSpread":true,
             "jsx":true,
             "globalReturn":true,
             "impliedStrict":true
         }
    },
    "env":{
        "browser":true,
        "node":true,
        "commonjs":true,
        "es6":true
    },
    "extends":[
        "standard"
    ],
    "plugins":[
        "html"
    ],
    "root":true,
    "rules":{
        "for-direction":"error",
        "getter-return":[
            "error",
            {
                "allowImplicit":false
            }
        ],
        "no-await-in-loop":"off",
        "no-compare-neg-zero":"error",
        "no-cond-assign":[
            "error",
            "except-parens"
        ],
        "no-console":"off",
        "no-constant-condition":[
            "error",
            {
                "checkLoops":false
            }
        ],
        "no-control-regex":"error",
        "no-debugger":"error",
        "no-dupe-args":"error",
        "no-dupe-keys":"error",
        "no-irregular-whitespace":2,
        "no-mixed-spaces-and-tabs":[
            2,
            false
        ],
        "indent":[
            "error",
            4,
            {
                "ArrayExpression":1,
                "SwitchCase":1
            }
        ],
        "semi":[
            2,
            "always"
        ],
        "space-before-function-paren":[
            0,
            "always"
        ],
        "brace-style":[
            "error",
            "stroustrup"
        ],
        "eol-last":[
            "error",
            "always"
        ],
        "keyword-spacing":[
            "error",
            {
                "after":true
            }
        ],
        "padded-blocks":[
            "error",
            {
                "blocks":"never"
            }
        ],
        "max-len":[
            "error",
            {
                "code":120,
                "ignoreComments":true
            }
        ],
    }
}
